.container {
    width: 80vw;
    margin: 2rem auto;
}

.grid-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
    border: 1px solid #212121;
    padding: 1rem 0;
    &__img {
        width: 90%;
    }
}