* {
    color: #fff;
}

body {
    background-color: #676767;
}

button, input {
    background: #212121;
    margin: .5rem;
    padding: .5rem;
    border: none;
}

.container {
    width: 80vw;
    margin: 2rem auto;
}

.grid-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
    border: 1px solid #212121;
    padding: 1rem 0;
    &__img {
        width: 90%;
    }
}